/dataset/NWPU-RESISC45
/dataset/classification
/dataset/super-resolution
/dataset/colorization

/AlexNet/class_indices.json
/AlexNet/.ipynb_checkpoints
/AlexNet/AlexNet.log
/AlexNet/best_model.pth
/AlexNet/best_model_labels_preds.txt

/backup

/VGGNet/class_indices.json
