/dataset/NWPU-RESISC45
/dataset/classification
/dataset/super-resolution
/dataset/colorization

/backup

/AlexNet/class_indices.json
/AlexNet/.ipynb_checkpoints
/AlexNet/AlexNet.log
/AlexNet/best_model.pth
/AlexNet/best_model_labels_preds.txt

/VGGNet/class_indices.json
/VGGNet/.ipynb_checkpoints
/VGGNet/VGGNet.log
/VGGNet/best_model.pth
/VGGNet/best_model_labels_preds.txt

/GoogLeNet/class_indices.json
/GoogLeNet/.ipynb_checkpoints
/GoogLeNet/GoogLeNet.log
/GoogLeNet/best_model.pth
/GoogLeNet/best_model_labels_preds.txt

/ResNeXt/class_indices.json
/ResNeXt/.ipynb_checkpoints
/ResNeXt/ResNeXt.log
/ResNeXt/best_model.pth
/ResNeXt/best_model_labels_preds.txt

/DenseNet/class_indices.json
/DenseNet/.ipynb_checkpoints
/DenseNet/DenseNet.log
/DenseNet/best_model.pth
/DenseNet/best_model_labels_preds.txt

/SwinTransformer/class_indices.json
/SwinTransformer/.ipynb_checkpoints
/SwinTransformer/SwinTransformer.log
/SwinTransformer/best_model.pth
/SwinTransformer/best_model_labels_preds.txt

/SRResNet/data/train_images.json
/SRResNet/data/test_images.json
