/dataset/NWPU-RESISC45
/dataset/classification
/dataset/super-resolution
/dataset/colorization
/dataset/colorization_

/backup

/AlexNet/class_indices.json
/AlexNet/.ipynb_checkpoints
/AlexNet/AlexNet.log
/AlexNet/best_model.pth
/AlexNet/best_model_labels_preds.txt

/VGGNet/class_indices.json
/VGGNet/.ipynb_checkpoints
/VGGNet/VGGNet.log
/VGGNet/best_model.pth
/VGGNet/best_model_labels_preds.txt

/GoogLeNet/class_indices.json
/GoogLeNet/.ipynb_checkpoints
/GoogLeNet/GoogLeNet.log
/GoogLeNet/best_model.pth
/GoogLeNet/best_model_labels_preds.txt

/ResNeXt/class_indices.json
/ResNeXt/.ipynb_checkpoints
/ResNeXt/ResNeXt.log
/ResNeXt/best_model.pth
/ResNeXt/best_model_labels_preds.txt

/DenseNet/class_indices.json
/DenseNet/.ipynb_checkpoints
/DenseNet/DenseNet.log
/DenseNet/best_model.pth
/DenseNet/best_model_labels_preds.txt

/SwinTransformer/class_indices.json
/SwinTransformer/.ipynb_checkpoints
/SwinTransformer/SwinTransformer.log
/SwinTransformer/best_model.pth
/SwinTransformer/best_model_labels_preds.txt

/SRResNet/.ipynb_checkpoints
/SRResNet/data/train_images.json
/SRResNet/data/test_images.json
/SRResNet/results/checkpoint_srresnet.pth
/SRResNet/results/checkpoint_srresnet_16.pth
/SRResNet/results/checkpoint_srresnet_32.pth
/SRResNet/SRResNet.log
/SRResNet/SRResNet_.log

/SRGAN/.ipynb_checkpoints
/SRGAN/data/train_images.json
/SRGAN/data/test_images.json
/SRGAN/results/checkpoint_srgan.pth
/SRGAN/SRGAN.log

/Improved_SRGAN/.ipynb_checkpoints
/Improved_SRGAN/data/train_images.json
/Improved_SRGAN/data/test_images.json
/Improved_SRGAN/results/checkpoint_isrgan.pth
/Improved_SRGAN/ISRGAN.log
